* {
    margin: 0;
    padding: 0;

}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: roboto;
    font-weight: 400;
    font-size: large;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    /* margin-bottom: 10px; */

}
.nav-bar ul li a {
    text-decoration: none;
    color: black;
}
.nav-bar ul :hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
}
.nav-bar {
    background-color: rgb(233, 240, 238);
    width:100% ;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-left: 40px;
}
.conclusion {
    /* margin: 10px 500px; */
    background-color: rgb(247, 63, 63);
     position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 90px;

}
.conclusion p {
    
    padding-left: 650px;
    color: white;
   
}
span {
    color: white;
    padding-left: 10px;
    
}
.copyright {
    position: fixed;
    bottom: 90px;
    left: 0;
    width: 100%;
    background-color: rgb(233, 240, 238);
}

h1 {
    font-family: merienda;
    font-weight: 500;
    margin-left: 200px;
}
h2 {
    font-family: merienda;
    font-weight: 400;
    margin-left: 150px;
}
p {
    font-family: roboto;
    font-weight: 400;
    padding-left: 40px;
}
.ttton {
    margin-left: 40px;
    padding: 6px 20px;
    border-radius: 10px;
    border-color: red;
    background-color: red;
    color: white;
    font-family: merienda;
    text-decoration: none;
}
button a {
    color: white;
    font-family: merienda;
    text-decoration: none;
}
 
.contacts {
    margin-left: 500px; 
    margin-top: 5px; 
    margin-bottom: 5px;
    display: flex;
}
.conclusion h2 {
    padding-left: 500px; 
    margin-top: 5px;
}

@media screen and (max-width: 800px) {

    .nav-bar ul {
        display: block;
        /* list-style: none; */
        font-weight: 400;
        font-size: medium;
        float: left;
        margin-top: 5px;
        margin-left: 40px;
        justify-content: space-between;
        /* margin-bottom: 10px; */
    
    }
    .nav-bar {
        background-color: rgb(233, 240, 238);
        width:100% ;
        height: 200px;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        justify-content: space-between;
    }
    .logo {
        padding-left: 20px;
    }
    .conclusion {
        /* margin: 10px 500px; */
        background-color: rgb(247, 63, 63);
         position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 120px;
    }
    .conclusion p {
        
        padding-left: 60px;
        color: white;
       
    }
    .conclusion h2 {
        padding-left: 0px;
        margin-left: 50px; 
        margin-top: 2px;
    }
    .contacts {
        display: block; 
        margin-left: 40px; 
        margin-top: 5px; 
        margin-bottom: 4px;
        font-size: medium;
    }
    span {
        color: black;
        padding-left: 5px;
        font-size: medium;
        
    }
    .copyright {
        position: fixed;
        bottom: 120px;
        left: 0;
        width: 100%;
        background-color: rgb(233, 240, 238);
        font-size: small;
    }
    
    h1 {
        font-family: merienda;
        font-weight: 400;
        margin-left: 15px;
        margin-top:39%;
        font-size: x-large;
    }
    h2 {
        font-family: merienda;
        font-weight: 400;
        margin-left: 10px;
    }
    p {
        font-family: roboto;
        font-weight: 400;
        padding-left: 5px;
        font-size: 15px;
    }
    .ttton {
        margin-left: 40px;
        padding: 6px 20px;
        border-radius: 10px;
        border-color: red;
        background-color: red;
        color: white;
        font-family: merienda;
        text-decoration: none;
        margin-bottom: 10%;
    }
    button a {
        color: white;
        font-family: merienda;
        text-decoration: none;
    }
    
}