* {
    margin: 0;
}
.body {
    width: 100%;
    height: 100vh;
}
form {
    position: absolute;
    top: 10%;
    left: 12%;
    /* background-color:  rgb(233, 240, 238); */
    padding-left: 40px;
    border-radius: 10px;
}
.video {
    position: absolute;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100vh; */
    z-index: -1;
    /* background-size: cover; */
}
@media (min-aspect-ratio:16/9){
    .video {
        width: 100%;
        height: auto;

    }
}
@media (max-aspect-ratio:16/9){
    .video {
        width: auto;
        height: 100%;

    }
}

form h3 {
    font-family: merienda;
    
    padding-left: 20px;
    color: black;
    
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: roboto;
    font-weight: 400;
    font-size: large;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    /* margin-bottom: 10px; */

}
.nav-bar ul li a {
    text-decoration: none;
    color: black;
}
.nav-bar ul :hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
}
.nav-bar {
    background-color: rgb(233, 240, 238);
    width:100% ;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-left: 40px;
}

.texts input  {
    background-color: rgb(241, 238, 238);
    border-radius: 10px;
    padding: 10px 60px;
    border-color: rgb(194, 191, 191) ;
}
.message input {
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-right: -20px;
}
label {
    font-family: roboto;
    font-weight: 400;
    color: black;
}
.conclusion {
    /* margin: 10px 500px; */
    background-color: rgb(247, 63, 63);
     position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
}
.conclusion p {
    
    padding-left: 450px;
    color: white;
   
}
span {
    color: white;
    padding-left: 10px;
    
}
.button input {
    padding: 10px 50px;
        background-color: red;
        color: white;
        font-family: merienda;
        border-radius: 10px;
        border-color: red;
    
}
.button {
    padding-left: 60px;
}
.container {
    
    background-color:  rgb(233, 240, 238);
    /* padding-left: 40px; */
    border-radius: 10px;
    width: 500px;
    height: 460px;
    position: absolute;
    top: 12%;
    left: 30%;
    opacity: 0.8;
}
#im{
    margin-left: -200px;
}
.contacts {
    display: flex; 
    margin-left: 500px; 
    margin-top: 5px; 
    margin-bottom: 5px;
}

.conclusion h2 {
    padding-left: 650px; 
    margin-top: 5px;
}

@media screen and (max-width: 830px) {

    .body {
        width: 100%;
        height: 100vh;
    }
    form {
        position: absolute;
        top: 12%;
        left: 2%;
        /* background-color:  rgb(233, 240, 238); */
        padding-left: 40px;
        border-radius: 10px;
    }
    .video {
        position: absolute;
        right: 0;
        bottom: 0;
        /* width: 100%;
        height: 100vh; */
        z-index: -1;
        /* background-size: cover; */
    }
    @media (min-aspect-ratio:16/9){
        .video {
            width: 100%;
            height: auto;
    
        }
    }
    @media (max-aspect-ratio:16/9){
        .video {
            width: auto;
            height: 100%;
    
        }
    }
    
    form h3 {
        font-family: merienda;
        font-size: x-large;
        
        padding-left: 20px;
        color: black;
        
    }
    .nav-bar ul {
        display: flex;
        list-style: none;
        gap: 20px;
        font-family: roboto;
        font-weight: 400;
        font-size: larger;
        float: left;
        margin-top: 20px;
        margin-right: 20px;
        /* margin-bottom: 10px; */
    
    }
    .nav-bar ul li a {
        text-decoration: none;
        color: black;
    }
    .nav-bar ul :hover {
        background-color: white;
        color: black;
        cursor: pointer;
        
    }
    .nav-bar {
        background-color: rgb(233, 240, 238);
        width:100% ;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        padding-left: 20px;
    }
    
    .texts input  {
        background-color: rgb(241, 238, 238);
        border-radius: 10px;
        padding: 10px 60px;
        border-color: rgb(194, 191, 191) ;
        font-size: larger;
    }
    .message input {
        padding-top: 10px;
        padding-right: 100px;
        padding-bottom: 80px;
        padding-right: -20px;
        font-size: larger;
    }
    label {
        font-family: roboto;
        font-weight: 400;
        color: black;
        font-size: x-large;
    }
    .conclusion {
        /* margin: 10px 500px; */
        background-color: rgb(247, 63, 63);
         position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 90px;
    }
    .conclusion p {
        text-align: center;
        padding-left: 70px;
        color: white;
        font-size: x-large;
       
    }
    span {
        color: white;
        padding-left: 10px;
        
    }
    .button input {
        padding: 10px 50px;
            background-color: red;
            color: white;
            font-family: merienda;
            border-radius: 10px;
            border-color: red;
        
    }
    .button {
        padding-left: 100px;
    }
    .container {
        
        background-color:  rgb(233, 240, 238);
        /* padding-left: 40px; */
        border-radius: 10px;
        width: 500px;
        height: 600px;
        position: absolute;
        top: 25%;
        left: 15%;
        opacity: 0.8;
    }

    .contacts {
        display: block; 
        margin-left: 240px; 
        margin-top: 3px; 
        margin-bottom: 3px;
        font-size: larger;
    }
    
    .conclusion h2 {
        text-align: center ;
        padding-left: 5px; 
        margin-top: 5px;
        font-size: x-large;
    }
    
    
}