* {
    padding: 0;
    margin: 0;
}
body {
    font-family: roboto;
}
.header {
    width: 100%;
    height: 100vh;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 400;
    font-size: large;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    /* margin-bottom: 10px; */

}
.nav-bar ul li a {
    text-decoration: none;
    color: black;
}
.nav-bar ul :hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
}
.nav-bar {
    background-color: rgb(234, 234, 236);
    width:100% ;
    height: 60px;
}
.container {
    background-color: white;
    width: 100%;
    height: 88vh;
    display: flex;
    /* text-align: space; */
    justify-content: space-between;
}
.container1 {
    background-color: white;
    width: 55%;
    height: 430px;
}
.container2 {
    background-color: white;
    width:35%;
    height: 420px;
}
.container1 h1 {
    font-family: merienda;
    font-weight: 400;
    color: black;
    padding-top: 30px;
    padding-left: 40px;
}
.container p {
    font-family: roboto;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
}
button {
    padding: 5px 25px;
    background-color:red ;
    color: white;
    border-color: red;
    border-radius: 10px;
}
.container2 img {
    width: 100%;
    height: 430px;
}
.first {
    display: flex;
    justify-content: space-between;
}
.second {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.third {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
h2 {
    font-family: merienda;
    font-weight: 400;
    padding-left: 100px;
}
.one {
    padding-top: 60px;
}
.two {
    padding-top: 60px;
}
.three {
    padding-top: 60px;
}
.conclusion {
    margin: 10px 500px;
    
}
.conclusion p {
    background-color: red;
    padding-left: 500px;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    
}

#products {
    background-color: rgb(233, 240, 238);
    width: 97%;
    height: 400px;
    padding-left: 20px;
    padding-top: 20px;
}
.product-1 {
    background-color: blue;
    width: 20%;
    
    
}
.product-2 {
    background-color: blue;
    width: 20%;
    
    
}
.product-3 {
    background-color: blue;
    width: 20%;
    
    
}
.product-4 {
    background-color: blue;
    width: 20%;
    
    
}
.product-1 img {
    width: 90%;
    height: 120px;
    padding-left: 10px;
}
.btn {
    padding-left: 50px;

}
.product-2 img {
    width: 90%;
    height: 120px;
    padding-left: 10px;
}
.product-3 img {
    width: 90%;
    height: 120px;
    padding-left: 10px;
}
.product-4 img {
    width: 90%;
    height: 120px;
    padding-left: 10px;
}
