* {
    margin: 0;
    padding: 0;
}
/* .more {
    flex-wrap: wrap;
} */
.foods {
    display: flex;
    justify-content: space-between;
}
.african {
    margin-left: 540px;
    margin-top: 3% ;
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.desserts {
    display: flex;
    justify-content: space-between;

}
.kinda {
    margin-left: 540px;
    margin-top: 3% ;
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.appetizer {
    display: flex;
     justify-content: space-between;
     
}
.drinks {
    display: flex;
    justify-content: space-between;
}

.tea {
    margin-left: 20px;
   
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: roboto;
    font-weight: 400;
    font-size: large;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    /* margin-bottom: 10px; */

}
.nav-bar ul li a {
    text-decoration: none;
    color: black;
}
.nav-bar ul :hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
}
.logo {
    padding-left: 40px;
}
.nav-bar {
    background-color: rgb(233, 240, 238);
    width:100% ;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.conclusion {
    /* margin: 10px 500px; */
    background-color: rgb(247, 63, 63);
     position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 90px;
}
.conclusion p {
    
    padding-left: 650px;
    color: white;
   
}
span {
    color: white;
    padding-left: 10px;
    
}
h1 {
    font-family: merienda;
    font-weight: 500;
}
h2 {
    font-family: merienda;
    font-weight: 400;
    text-align: center;
}
p {
    font-family: roboto;
    font-weight: 400;
    padding-left: 20px;
}
img{
    padding-left: 6px;
}
button {
    padding: 5px 25px;
    background-color:red ;
    color: white;
    border-color: red;
    border-radius: 10px;
    text-decoration: none;
    font-family: merienda;

}
.Tton {
    padding-left: 50px;
}
.italian {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.chinese {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.korean {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.cupcake {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.saksuka {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.Berry {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.salads {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
    margin-left: 50px;
}
.soup {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
    margin-left: 50px;
}
.milk {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
    margin-left: 50px;
}

.juices {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.bubble {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}
.tea {
    background-color: rgb(233, 240, 238);
    width: 360px;
    border-radius: 10px;
}