* {
    margin: 0;
    padding: 0;
}
/* .more {
    flex-wrap: wrap;
} */
.foods {
    display: flex;
}
.african {
    margin-left: 410px;
    margin-top: -24% ;
}
.desserts {
    display: flex;

}
.kinda {
    margin-left: 390px;
    margin-top: -22% ;
}
.appetizer {
    display: flex;
    gap: 20px;
}
.drinks {
    display: flex;
    gap: 40px;

}
.juices {
     margin-top: -21%  ;
}
.tea {
    margin-left: 640px;
    margin-top: -15% ;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 400;
    font-size: large;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    /* margin-bottom: 10px; */

}
.nav-bar ul li a {
    text-decoration: none;
    color: black;
}
.nav-bar ul :hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
}
.logo {
    padding-left: 40px;
}
.nav-bar {
    background-color: rgb(233, 240, 238);
    width:100% ;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.conclusion p {
    background-color: rgb(247, 63, 63);
    padding-left: 500px;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    
}