*{
    margin: 0;
    padding: 0;

}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: roboto;
    font-weight: 400;
    font-size: large;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    /* margin-bottom: 10px; */

}
.nav-bar ul li a {
    text-decoration: none;
    color: black;
}
.nav-bar ul :hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
}
.nav-bar {
    background-color: rgb(233, 240, 238);
    width:100% ;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-left: 40px;
}
.video {
    position: absolute;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100vh; */
    z-index: -1;
    /* background-size: cover; */
}
@media (min-aspect-ratio:16/9){
    .video {
        width: 100%;
        height: auto;

    }
}
@media (max-aspect-ratio:16/9){
    .video {
        width: auto;
        height: 100%;

    }
}

.conclusion {
    /* margin: 10px 500px; */
    background-color: rgb(247, 63, 63);
     position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 90px;
}
.conclusion p {
    
    padding-left: 500px;
    color: white;
   
}
span {
    color: white;
    padding-left: 10px;
    
}
form {
    /* background-color:  rgb(233, 240, 238); */
    position: absolute;
    top: 15%;
    left: 12%;
    padding-left: 40px;
    border-radius: 10px;
}
 form h3 {
    font-family: merienda;
    padding: 10px 10px;
    color: black;
 }
.texts input {
    background-color: white;
    border-radius: 10px;
    padding: 10px 60px;
    border-color: rgb(241, 238, 238);
 }

.button input {
    padding: 10px 50px;
        background-color: red;
        color: white;
        font-family: merienda;
        border-radius: 10px;
        border-color: red;
    
}
.button {
    padding-left: 60px;
}
label {
    font-family: roboto;
    font-weight: 400;
    color: black;
}
.container {
    
    background-color:  rgb(233, 240, 238);
    /* padding-left: 40px; */
    border-radius: 10px;
    width: 500px;
    height: 470px;
    position: absolute;
    top: 12%;
    left: 35%;
    opacity: 0.8;
}
