*{
    margin: 0;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: roboto;
    font-weight: 400;
    font-size: large;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    /* margin-bottom: 10px; */

}
.nav-bar ul li a {
    text-decoration: none;
    color: black;
}
.nav-bar ul :hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
}
.nav-bar {
    background-color: rgb(233, 240, 238);
    width:100% ;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-left: 40px;
}
h1 {
    padding: 20px 80px;
    font-family: merienda;
    font-weight: 500;
}
h2 {
    padding: 20px 60px;
    font-family: merienda;
    font-weight: 400;
}
p {
    font-family: roboto;
    font-weight: 400;
    /* padding: 20px 30px; */
}
.services {
    margin-left: 50px ;
}
.two-people {
    display: flex;
    gap: 300px;
}
.outside img {
    margin-top: 70px;
}
.inside {
    margin-left: 50px;
}
.family {
     margin-left: 390px;
}
.privacy {
    display: flex;
    gap: 300px;
}
button {
    padding: 10px 50px;
    background-color: red;
    color: white;
    font-family: merienda;
    border-radius: 10px;
    border-color: red;
}
.Tton {
    padding-top: 10px;
    padding-left: 20px;
}
.conclusion {
    /* margin: 10px 500px; */
    background-color: rgb(247, 63, 63);
     position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
}
#im{
    margin-left: -200px;
}
.conclusion p {
    
    padding-left: 450px;
    color: white;
   
}
span {
    color: white;
    padding-left: 10px;
    
}
.go {
    margin-left: 300px;
}
.deliver {
    margin-left: 300px;
}
.First {
    margin-left: 400px;
}
button a {
    text-decoration: none;
    color: white;
    font-family: merienda;
}
.view {
    padding-left: 530px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.view :hover {
    transform: translateX(5px);
}
.two-people img {
    width: 390px; 
    height: 350px; 
    
}
.menu i { color: black;
    font-size: xx-large;
}
.menu{
display: none;
}
#cross {
font-size: xx-large;
color: black;
display: none;
}



@media screen and (max-width: 800px) {

    .services {
        width: 100%;
    }

    .nav-bar ul {
        display: none;
        /* list-style: none; */
        font-weight: 400;
        font-size: medium;
        float: left;
        margin-top: 5px;
        margin-left: -5px;
        justify-content: space-between;
        /* margin-bottom: 10px; */
    
    }
    .nav-bar {
        background-color: rgb(233, 240, 238);
        width:100% ;
        height: 200px;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        justify-content: space-between;
    }
    .logo {
        padding-left: 20px;
    }
    .logo img {
        width: 150px;
        height: 70px;
        padding-top: -30%;
    }
    h1 {
        padding: 20px 60px;
        font-family: merienda;
        font-weight: 500;
    }
    h2 {
        padding: 20px 55px;
        font-family: merienda;
        font-weight: 400;
    }
    p {
        font-family: roboto;
        font-weight: 400;
        /* padding: 20px 30px; */
    }
    .services {
        margin-left: 0px ;
    }
    .two-people {
        width: 100%;
        display: block;
        margin-left: 20px;

    }
    .outside img {
        margin-top: 70px;
    }
    .inside {
        margin-left: 0;
    }
    .family {
         margin-left: 20px;
         margin-top: 40px;
    }
    .privacy {
        display: block;
        gap: 0px;
    }
    button {
        padding: 10px 50px;
        background-color: red;
        color: white;
        font-family: merienda;
        border-radius: 10px;
        border-color: red;
    }
    .Tton {
        padding-top: 10px;
        padding-left: 20px;
    }
    .conclusion {
        /* margin: 10px 500px; */
        background-color: rgb(247, 63, 63);
         position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 60px;
    }
    .conclusion p {
        
        padding-left: 650px;
        color: white;
       
    }
    span {
        color: white;
        padding-left: 10px;
        
    }
    .go {
        margin-left: 300px;
    }
    .deliver {
        margin-left: 300px;
    }
    .First {
        margin-left: 30px;
        margin-top: 30%;
    }
    button a {
        text-decoration: none;
        color: white;
        font-family: merienda;
    }
    .view {
        padding-left: 530px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .view :hover {
        transform: translateX(5px);
    }

    .two-people img {
        width: 90%;
        height: 220px;
    }
    .menu i { color: black;
        font-size: xx-large;
    }
    .menu{
    display: block;
    }
    #cross {
        font-size: xx-large;
        color: black;
        display: block;
        float: right;
       position: absolute;
       top: 35%;
       left: 80%;
    }
    
}